#projects .project:nth-child(2) {
  animation-delay: 0.05s;
}

#projects .project:nth-child(3) {
  animation-delay: 0.1s;
}

.project {
  margin-bottom: 50px;
}

.project .title {
  font-weight: bold;
  font-size: larger;
}

.project .desc {
  font-size: smaller;
  width: 40vw;
  margin-top: 30px;
}

.tech {
  line-height: normal;
}

.tech span {
  background-color: rgb(238, 238, 238);
  border-radius: 25px;
  border: 1px solid rgb(37, 37, 37);
  margin-right: 8px;
  padding: 5px 8px;
  font-size: 0.6em;
  transition: background-color 0.2s ease-in;
}

.tech span:hover {
  background-color: rgb(212, 212, 212);
  transition: background-color 0.2s ease-in;
}

.bottom {
  margin-bottom: 10vh;
}

#more-projects {
  color: var(--dark);
  text-decoration: none;
  transition: color 0.2s ease-in;
}

#more-projects:hover {
  color: var(--dark-blue);
  transition: color 0.2s ease-in;
}

#m {
  font-size: larger;
  font-weight: bold;
  color: var(--dark);
  transition: color 0.2s ease-in;
  text-decoration: none;
}

#m:hover {
  color: var(--dark-blue);
  transition: color 0.2s ease-in;
}

.icon {
  color: rgb(54, 54, 54);
  height: 20px;
  margin-right: 10px;
}

.icon:hover {
  color: white;
}

.link {
  color: #4b76bd;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--dark-blue);
  transition: color 0.2s ease;
}

.anim-in {
  animation: title-in 1.2s cubic-bezier(0.12, 0.58, 0.13, 1) forwards;
}
.anim-in-delay {
  animation: title-in 1.2s 0.2s cubic-bezier(0.12, 0.58, 0.13, 1) forwards;
}

@keyframes title-in {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 62em) {
  .project .desc {
    width: 70vw;
  }
  .tech {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
  }
  .tech span {
    margin-bottom: 7px;
  }
  #m {
    font-size: 1em;
  }
}
